<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allocationManager.crud">
    <!--查询商品信息-->
    <select id="searchCommidyInfo" resultMap="warehouse.crud.repertorySonMap" parameterType="repertorySon">
        select * from repertoryson
        inner join warehouse on warID=reqWareNo
        inner join commodity on comId=repComId
        inner join manufacturer on comManufact=manId
        where 1=1
        <if test="null !=repId and '' !=repId">
            and warID=#{repId}
        </if>
        <if test="null !=repComId and '' !=repComId">
            and repComId like "%"#{repComId}"%"
        </if>
        <if test="null !=repProName and '' !=repProName">
            and repProName like "%"#{repProName}"%"
        </if>
        limit #{reqCurrent},#{reqLowest}
    </select>
    <!--查询商品信息的总条数-->
    <select id="searchCommidyInfoSize" parameterType="repertorySon" resultType="int">
        select count(*) from repertoryson
        inner join warehouse on warID=reqWareNo
        inner join commodity on comId=repComId
        inner join manufacturer on comManufact=manId
        where 1=1
        <if test="null !=repId and '' !=repId">
            and warID=#{repId}
        </if>
        <if test="null !=repComId and '' !=repComId">
            and repComId=#{repComId}
        </if>
        <if test="null !=repProName and '' !=repProName">
            and repProName like "%"#{repProName}"%"
        </if>
    </select>
    <!--查询经办人-->
    <select id="searchEmployeesJin" parameterType="employees" resultType="employees">
      select empNo,empName from employees
        where empNo=
        (select empManagerNo from employees where empNo=#{empNo})
        and empState=1
    </select>
    <!--查询单据信息-->
    <select id="searchReceiptsInfo" parameterType="receipts" resultType="receipts">
        select recNo,recOdd,(select warName from warehouse where r.redPutNo=warID) redPutNo
        ,(select warName from warehouse where r.redDepotNo=warID) redDepotNo,
        recDate,(select empName from employees where empNo=r.recEmployeeNo)recEmployeeNo,recRemark from receipts r
        where recDocumentTypes='RN00002'
        <if test="null !=redPutNo and '' != redPutNo ">
            or redPutNo=#{redPutNo}
        </if>
        <if test="null !=redDepotNo and '' != redDepotNo ">
            or redDepotNo=#{redDepotNo}
        </if>
        <if test="null !=recEmployeeNo and '' != recEmployeeNo ">
            or recEmployeeNo=#{recEmployeeNo}
        </if>
        <if test="null !=duo4 and '' != duo4 ">
            and recDate &gt; #{duo4}
        </if>
        <if test="null !=duo5 and '' != duo5 ">
            and recDate &lt; #{duo5}
        </if>
        limit #{recTiaoNumber},#{recTotalNumber}
    </select>
    <!--查询单据信息的总条数-->
    <select id="searchReceiptsInfoSize" resultType="int" parameterType="receipts">
        select count(*) from receipts
        where recDocumentTypes='RN00002'
        <if test="null !=redPutNo and '' != redPutNo ">
            or redPutNo=#{redPutNo}
        </if>
        <if test="null !=redDepotNo and '' != redDepotNo ">
            or redDepotNo=#{redDepotNo}
        </if>
        <if test="null !=recEmployeeNo and '' != recEmployeeNo ">
            or recEmployeeNo=#{recEmployeeNo}
        </if>
        <if test="null !=duo4 and '' != duo4 ">
            and recDate &gt; #{duo4}
        </if>
        <if test="null !=duo5 and '' != duo5 ">
            and recDate &lt; #{duo5}
        </if>
    </select>
    <!--查询单据明细表-->
    <select id="searchReceiptsDetailedInfo" parameterType="Receipts" resultType="receiptsDetailed">
        select redProcutsNo,redName,redCount,redUnit,redredduct,redPermitNo,redPrice from receipts_detailed
        inner join receipts on redRecNo=recNo
        where recDocumentTypes='RN00002'
        <if test="null !=redPutNo and '' != redPutNo ">
            or redPutNo=#{redPutNo}
        </if>
        <if test="null !=redDepotNo and '' != redDepotNo ">
            or redDepotNo=#{redDepotNo}
        </if>
        <if test="null !=recEmployeeNo and '' != recEmployeeNo ">
            or recEmployeeNo=#{recEmployeeNo}
        </if>
        <if test="null !=recNo and '' != recNo ">
            and redRecNo=#{recNo}
        </if>
        <if test="null !=duo4 and '' != duo4 ">
            and recDate &gt; #{duo4}
        </if>
        <if test="null !=duo5 and '' != duo5 ">
        and recDate &lt; #{duo5}
        </if>
        limit #{recTiaoNumber},#{recTotalNumber}
        </select>
    <!--查询单据明细的总条数-->
    <select id="searchReceiptsDetailedInfoSize" parameterType="receipts" resultType="int">
        select count(*) from receipts_detailed
        inner join receipts on redRecNo=recNo
        where recDocumentTypes='RN00002'
        <if test="null !=redPutNo and '' != redPutNo ">
            or redPutNo=#{redPutNo}
        </if>
        <if test="null !=redDepotNo and '' != redDepotNo ">
            or redDepotNo=#{redDepotNo}
        </if>
        <if test="null !=recEmployeeNo and '' != recEmployeeNo ">
            or recEmployeeNo=#{recEmployeeNo}
        </if>
        <if test="null !=recNo and '' != recNo ">
            and redRecNo=#{recNo}
        </if>
        <if test="null !=duo4 and '' != duo4 ">
            and recDate &gt; #{duo4}
        </if>
        <if test="null !=duo5 and '' != duo5 ">
            and recDate &lt; #{duo5}
        </if>
    </select>

    <!--查询商品信息通过具体的商品编号-->
    <select id="searchCommidyInfoByRep" resultType="String" parameterType="commodity">
        select * from commodity inner join  manufacturer on manId=comManufact where comId=#{comId}
    </select>

    <!--查询是否存在该商品信息在库存中-->
    <select id="searchRepertorySonInfo" parameterType="receiptsDetailed" resultType="String">
         select repId from repertoryson
           inner join warehouse on warID=reqWareNo
            where repComId=#{redProcutsNo} and warID=#{duo1}
    </select>
    <!--修改库存出库信息-->
    <update id="updateRepertorySonOutInfo" parameterType="receiptsDetailed">
      update repertoryson set reqCurrent=(reqCurrent- #{redCount} )
      where repComId=#{redProcutsNo}
        <if test="null != duo3 and ''!= duo3 ">
            and reqWareNo=#{duo3}
        </if>
    </update>

    <!--修改库存入库信息-->
    <update id="updateRepertorySonInInfo" parameterType="receiptsDetailed">
        update repertoryson set reqCurrent=(reqCurrent+#{redCount})
        where repComId=#{redProcutsNo}
        <if test="null != duo2 and '' != duo2">
            and repId = #{duo2}
        </if>
    </update>

    <!--新增单据明细表信息-->
    <insert id="insertReceiptsDetailedInfo" parameterType="receiptsDetailed">
        insert into receipts_detailed(redNo,redOdd,redProcutsNo,redName,redUnit,redredduct,
        redPermitNo,redValidUntil,redPrice,redCount,redManufact,redRecNo)values(#{redNo},#{redOdd},#{redProcutsNo},
        #{redName},#{redUnit},#{redredduct},#{redPermitNo},
        #{redValidUntil},#{redPrice},#{redCount},#{redManufact}
        ,#{redRecNo})
    </insert>

    <!--新增单据主表信息-->
    <insert id="insertReceiptsInfo" parameterType="receipts">
      insert into receipts (recNo,recOdd,recDocumentTypes,recDate,
      recEmployeeNo,recRemark,recTiaoNumber,recTotalNumber,
      redPutNo,redDepotNo) values(#{recNo},#{recOdd},#{recDocumentTypes},#{recDate},
      #{recEmployeeNo},#{recRemark},#{recTiaoNumber},#{recTotalNumber},#{redPutNo}
      ,#{redDepotNo})
    </insert>

    <!--新增库存明细信息-->
    <insert id="insertRepertorySonInfo" parameterType="repertorySon">
        insert into repertoryson(repId,repComId,
        repProName,reqCurrent,reqWareNo,reqPrice)
         values(#{repId},#{repComId},#{repProName},
         #{duo1},#{reqWareNo},#{reqPrice})
    </insert>
</mapper>