<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commodity.crud">
    <!--1、查询所有商品的信息集合-->
    <select id="searchAllocationTableList" resultMap="repertorySonMap">
        select comId,manId,repId,warID,repComId,comName,repertoryson.reqCurrent repNumber,reqTotality ,reqPrice ,comPrice ,
        comUnit ,comProduct ,comApproval ,manName ,comRemarks,warName,catName
        from commodity
        inner join manufacturer on commodity.comManufact=manufacturer.manId
        inner join repertorySon on repertoryson.repComId=commodity.comId
        inner join warehouse on repertorySon.reqWareNo=warehouse.warID
        inner join category on category.catId=commodity.comTypeId
        where 1=1
        <if test="null != comId and '' != comId and comId!='allWareHouse'">
            AND warID = #{comId}
        </if>
        <if test="null != comName and '' != comName">
            AND (comName LIKE concat('%',#{comName},'%') or comId LIKE concat('%',#{comName},'%'))
        </if>
        <if test="null!=comTypeId and ''!=comTypeId">
            AND category.catName = #{comTypeId}
        </if>
        <if test="null!=duo5 and ''!=duo5 and duo5=='no'">
            AND repertorySon.reqCurrent &gt; 0
        </if>
        <if test="null==duo5 or ''==duo5 or duo5=='yes'">
            AND repertorySon.reqCurrent &gt;= 0
        </if>
        limit #{page},#{limit}
    </select>

    <!--查询所有商品的信息集合大小-->
    <select id="searchAllocationTableListSize" resultType="int">
        select count(comId) from commodity
        inner join manufacturer on commodity.comManufact=manufacturer.manId
        inner join repertorySon on repertoryson.repComId=commodity.comId
        inner join warehouse on repertorySon.reqWareNo=warehouse.warID
        inner join category on category.catId=commodity.comTypeId
        where 1=1
        <if test="null != comId and '' != comId and comId!='allWareHouse'">
            AND warID = #{comId}
        </if>
        <if test="null != comName and '' != comName">
            AND (comName LIKE concat('%',#{comName},'%') or comId LIKE concat('%',#{comName},'%'))
        </if>
        <if test="null!=comTypeId and ''!=comTypeId">
            AND category.catName = #{comTypeId}
        </if>
        <if test="null!=duo5 and ''!=duo5 and duo5=='no'">
            AND repertorySon.reqCurrent &gt; 0
        </if>
        <if test="null==duo5 or ''==duo5 or duo5=='yes'">
            AND repertorySon.reqCurrent &gt;= 0
        </if>
    </select>
    <!--仓库信息查询（单表）-->
    <select id="searchWareHourseInfo" resultMap="warehouseMap">
        select warID,warName,employeesNo,warPhone,warAddressNo,warAddress,warDefault,warForbidNo,
        warComment,repNumber,warTotalValue,warCurrent,warLowest,duo1,duo2,duo3 from warehouse
    </select>

    <!--商品表-->
    <resultMap id="commodityMap" type="commodity">
        <!--mybatis如何处理联合主键(复合主键)?-->
        <id column="comId" property="comId"/>
        <result column="comName" property="comName"/>
        <result column="comSimpleCode" property="comSimpleCode"/>
        <result column="comTypeId" property="comTypeId"/>
        <result column="comGenericName" property="comGenericName"/>
        <result column="comBarCode" property="comBarCode"/>
        <result column="comUnit" property="comUnit"/>
        <result column="comEpherine" property="comEpherine"/>
        <result column="comElectonic" property="comElectonic"/>
        <result column="comProduct" property="comProduct"/>
        <result column="comMedicame" property="comMedicame"/>
        <result column="comRegister" property="comRegister"/>
        <result column="comApproval" property="comApproval"/>
        <!--<result column="comQuality" property="comQuality"/>-->
        <result column="comState" property="comState"/>
        <result column="comSpecial" property="comSpecial"/>
        <result column="comPurchase" property="comPurchase"/>
        <result column="comPrice" property="comPrice"/>
        <result column="comManufact" property="comManufact"/>
        <result column="comRemarks" property="comRemarks"/>
        <result column="comMinKuNumber" property="comMinKuNumber"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo4" property="duo4"/>
        <result column="duo5" property="duo5"/>
        <association property="manufacturer" resultMap="manufacturerMap"/>
        <association property="category" resultMap="categoryt"/>
    </resultMap>

    <!--仓库明细-->
    <resultMap id="repertorySonMap" type="repertorySon">
        <id column="repId" property="repId"/>
        <result column="repComId" property="repComId"/>
        <result column="repProName" property="repProName"/>
        <result column="repNumber" property="repNumber"/>
        <result column="reqTotality" property="reqTotality"/>
        <result column="reqPrice" property="reqPrice"/>
        <result column="reqShouPrice" property="reqShouPrice"/>
        <result column="reqCurrent" property="reqCurrent"/>
        <result column="reqLowest" property="reqLowest"/>
        <result column="reqWareNo" property="reqWareNo"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
        <result column="duo4" property="duo4"/>
        <result column="duo5" property="duo5"/>
        <association property="commodity" resultMap="commodityMap"/>
        <association property="warehouse" resultMap="warehouseMap"/>
        <association property="category" resultMap="categoryMap"/>
    </resultMap>

    <!--生产厂商-->
    <resultMap id="manufacturerMap" type="manufacturer">
        <id column="manId" property="manId"/>
        <result column="manName" property="manName"/>
        <result column="manTelPhe" property="manTelPhe"/>
        <result column="manAddressNo" property="manAddressNo"/>
        <result column="manAddress" property="manAddress"/>
        <result column="manEmail" property="manEmail"/>
        <result column="manRemarks" property="manRemarks"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
    </resultMap>

    <select id="searchCommodityTypeParent" resultMap="categoryt">
        SELECT catId,catParentId,catSort,catExplain,catName title FROM category
        WHERE catParentId IS NULL
        </select>

    <select id="searchCommodityType" resultMap="categoryt" parameterType="string">
        SELECT catId,catParentId,catSort,catExplain,catName title FROM category
        WHERE catParentId=#{parentid}
        </select>

    <select id="searchCommodityTypeseniorSeclct"  resultMap="categoryt" parameterType="string">
        SELECT catId,catParentId,catSort,catExplain,catName title FROM category
        WHERE catId LIKE "%"#{question}"%" OR catName LIKE "%"#{question}"%" OR catParentId LIKE "%"#{question}"%"
        OR catSort LIKE "%"#{question}"%" OR catExplain LIKE "%"#{question}"%"
        </select>

    <resultMap id="categoryt" type="category">
        <id column="catId" property="catId"></id>
        <result column="catParentId" property="catParentId"></result>
        <result column="catSort" property="catSort"></result>
        <result column="catExplain" property="catExplain"></result>
        <result column="title" property="title"></result>
    </resultMap>

    <!--单据明细表-->
    <resultMap id="receiptsDetailedMap" type="receiptsDetailed">
        <id column="redNo" property="redNo"/>
        <result column="redOdd" property="redOdd"/>
        <result column="redProcutsNo" property="redProcutsNo"/>
        <result column="redName" property="redName"/>
        <result column="redUnit" property="redUnit"/>
        <result column="redredduct" property="redredduct"/>
        <result column="redPermitNo" property="redPermitNo"/>
        <result column="redDate" property="redDate"/>
        <result column="redValidUntil" property="redValidUntil"/>
        <result column="redPrice" property="redPrice"/>
        <result column="redCount" property="redCount"/>
        <result column="redManufact" property="redManufact"/>
        <result column="redManufactName" property="redManufactName"/>
        <result column="redPreprice" property="redPreprice"/>
        <result column="redTotalPrice" property="redTotalPrice"/>
        <result column="redSupplierNo" property="redSupplierNo"/>
        <result column="redPutNo" property="redPutNo"/>
        <result column="redDepotNo" property="redDepotNo"/>
        <result column="redredchaseDate" property="redredchaseDate"/>
        <result column="redComment" property="redComment"/>
        <result column="redReturnDate" property="redReturnDate"/>
        <result column="redDocumentTypes" property="redDocumentTypes"/>
        <result column="redProductTypeNo" property="redProductTypeNo"/>
        <result column="redProductTypeName" property="redProductTypeName"/>
        <result column="redRecNo" property="redRecNo"/>
        <result column="redZhe" property="redZhe"/>
        <result column="redModel" property="redModel"/>
        <result column="redQuanStock" property="redQuanStock"/>
        <result column="redCountedQuantity" property="redCountedQuantity"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
        <result column="duo4" property="duo4"/>
        <result column="duo5" property="duo5"/>
        <result column="duo6" property="duo6"/>
        <result column="duo7" property="duo7"/>
        <association property="supplier" resultMap="supplierMap"/>
    </resultMap>

    <!--供货商-->
    <resultMap id="supplierMap" type="supplier">
        <id column="supID" property="supID"/>
        <result column="supName" property="supName"/>
        <result column="supLinkman" property="supLinkman"/>
        <result column="supPhone" property="supPhone"/>
        <result column="supMoney" property="supMoney"/>
        <result column="supAddressNo" property="supAddressNo"/>
        <result column="supAddress" property="supAddress"/>
        <result column="supRegion" property="supRegion"/>
        <result column="supDefault" property="supDefault"/>
        <result column="supComment" property="supComment"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
    </resultMap>

    <!--库存map-->
    <resultMap id="warehouseMap" type="warehouse">
        <id column="warID" property="warID"/>
        <result column="warName" property="warName"/>
        <result column="employeesNo" property="employeesNo"/>
        <result column="warPhone" property="warPhone"/>
        <result column="warAddressNo" property="warAddressNo"/>
        <result column="warAddress" property="warAddress"/>
        <result column="warDefault" property="warDefault"/>
        <result column="warForbidNo" property="warForbidNo"/>
        <result column="warComment" property="warComment"/>
        <result column="repNumber" property="repNumber"/>
        <result column="warTotalValue" property="warTotalValue"/>
        <result column="warCurrent" property="warCurrent"/>
        <result column="warLowest" property="warLowest"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
    </resultMap>

    <!--类型Map-->
    <resultMap id="categoryMap" type="category">
        <id column="catId" property="catId"/>
        <result column="catName" property="title"/>
        <result column="catParentId" property="catParentId"/>
        <result column="catSort" property="catSort"/>
        <result column="catExplain" property="catExplain"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
    </resultMap>
</mapper>