<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicinepro.Changecommodity">
     <select id="searchUnit" resultType="String">
         SELECT comUnit FROM commodity  GROUP BY comUnit
     </select>
    <insert id="insertCommodity" parameterType="commodity">
        INSERT INTO commodity(comId,comName,comSimpleCode,comTypeId,comGenericName,comStarTime,comUnit,
        comEpherine,comElectonic,comProduct,comMedicame,comRegister,comApproval,comState,
        comSpecial,comPurchase,comPrice,comManufact,comRemarks,comMinKuNumber,comEndTime,comSupplierNo)
        VALUES(#{comId},#{comName},#{comSimpleCode},#{categoryNo},#{comGenericName},#{comBarCode},#{comUnit},
        #{comEpherine},#{comElectonic},#{comProduct},#{comMedicame},#{comRegister},#{comApproval},#{comState},
        #{comSpecial},#{comPurchase},#{comPrice},#{manId},#{comRemarks},#{comMinKuNumber},#{comQuality},#{comMedicame})

</insert>
    <select id="searchManufacturerList" resultType="manufacturer">
             SELECT manId,manName,manTelPhe,manAddressNo,manAddress,manEmail,manRemarks
     FROM manufacturer
    </select>
    <select id="searchSupplierList" resultMap="medicinepro.commodity.supplier">
            SELECT supID,supName,supLinkman,supPhone,supMoney,
              supAddressNo,supAddress,supRegion,supDefault,supComment
            FROM supplier
    </select>
    <select id="selectCOmmodityId" resultType="string">
        SELECT comId FROM commodity
             ORDER BY comId DESC LIMIT 1
    </select>
    <select id="searchCatId" parameterType="string" resultMap="medicinepro.commodityType.categoryt">
        SELECT catId,catName,catParentId,catSort,catExplain FROM category
            WHERE catName=#{ty}
    </select>
    <select id="deleteCommodity" parameterType="java.util.List">
        UPDATE commodity set comState=1 where comId in
        (<foreach collection="list" item="item" index="index" separator=",">
        #{item}
    </foreach>)
    </select>
    <select id="deleteCommodity2" parameterType="String">
        DELETE from commodity where comId=#{com}
    </select>
</mapper>