<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.crud">
    <!--1、查询代售商品-->
    <select id="searchsalecom" parameterType="pagegation" resultMap="salecominfomap">
        select * from commodity WHERE comState=1 limit #{currentPage},#{pageSize}
    </select>
    <!--2、根据点击获取类型ID查询商品信息-->
    <select id="searchcominfoByClick" parameterType="commodity" resultMap="salecominfomap">
            SELECT c.* FROM repertoryson r,commodity c
        WHERE r.repComId=c.comId
        AND c.comTypeId=#{duo4}
        AND r.reqWareNo=#{duo5}
    </select>
    <!--3、根据商品名称或者编号与仓库ID模糊查询(并查询库存大于0)-->
    <select id="cominfoByIONgc" parameterType="commodity" resultMap="salecominfomap">
        SELECT * FROM commodity
        WHERE comId IN (SELECT repComId FROM repertoryson WHERE reqWareNo=#{duo4} AND repNumber>0)
        AND (comId LIKE concat('%',#{duo2},'%') OR comName LIKE concat('%',#{duo2},'%'))
    </select>
    <!--4、获取客户名称下拉列表-->
    <select id="searchclientList" resultMap="clientListmap">
        SELECT * FROM client
    </select>
    <!--5、获取仓库名称下拉列表-->
    <select id="allwarHName" resultMap="warNamemap">
        SELECT * FROM warehouse
        WHERE warForbidNo=0
        AND repNumber>0
    </select>
    <!--6、根据商品ID、仓库ID查询库存-->
    <select id="ifNumBigRepertory" parameterType="repertorySon" resultType="java.lang.Integer">
        SELECT repNumber
        FROM  repertoryson
        WHERE repComId=#{duo4}
        AND reqWareNo=#{duo5}
    </select>
    <!--7、新增销售单据表-->
    <insert id="comSaleinfoInsert" parameterType="receipts">
        INSERT INTO receipts ( recNo,
         recOdd,recDocumentTypes,recDate,
         recEmployeeNo,recRemark,recWareNo,
         recTotalNumber,
         redDepotNo)
         VALUES
          (#{recNo},#{recOdd},#{recDocumentTypes},
          #{recDateSale},#{recEmployeeNo},#{recRemark},#{recWareNo},#{recTotalNumber},#{redDepotNo});
    </insert>
    <!--8、新增销售单据明细表-->
    <insert id="comSaleTableinfoInsert" parameterType="receiptsdetailed">
        INSERT INTO receipts_detailed (redNo,redOdd,redProcutsNo,redName,redUnit,redredduct,redPermitNo,redPrice,redCount,redTotalPrice,redDepotNo,redComment,redProductTypeNo,redRecNo,redDocumentTypes,duo1,duo2,duo4)
         VALUES
          (#{redNo},#{redOdd},#{redProcutsNo},#{redName},#{redUnit},#{redredduct},#{redPermitNo},#{redPrice},#{redCount},#{redPrice}*#{redCount},#{redDepotNo},#{redComment},#{redProductTypeNo},#{redRecNo},(SELECT retNo FROM receiptstype WHERE `retName`='销售单号'),#{duo1},#{duo5},#{duo4});
    </insert>
    <!--9、根据销售单据的商品ID代入相应仓库表更新库存-->
    <update id="updateWoreHouse" parameterType="commodity">
        UPDATE repertoryson SET repNumber = repNumber-#{duo1}
        WHERE repComId=#{comId}
        AND reqWareNo=#{duo4}
    </update>
    <!--10、查询经办人下拉列表-->
    <select id="allEmployessName" resultMap="employessMap">
        SELECT * FROM employees
        WHERE empState=1
    </select>
    <resultMap id="salecominfomap" type="commodity">
        <id column="comId" property="comId"/>
        <result column="comName" property="comName"/>
        <result column="comSimpleCode" property="comSimpleCode"/>
        <result column="comTypeId" property="comTypeId"/>
        <result column="comGenericName" property="comGenericName"/>
        <result column="comBarCode" property="comBarCode"/>
        <result column="comUnit" property="comUnit"/>
        <result column="comEpherine" property="comEpherine"/>
        <result column="comElectonic" property="comElectonic"/>
        <result column="comProduct" property="comProduct"/>
        <result column="comMedicame" property="comMedicame"/>
        <result column="comRegister" property="comRegister"/>
        <result column="comApproval" property="comApproval"/>
        <result column="comQuality" property="comQuality"/>
        <result column="comState" property="comState"/>
        <result column="comSpecial" property="comSpecial"/>
        <result column="comPurchase" property="comPurchase"/>
        <result column="comPrice" property="comPrice"/>
        <result column="comManufact" property="comManufact"/>
        <result column="comRemarks" property="comRemarks"/>
        <result column="comMinKuNumber" property="comMinKuNumber"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
        <result column="duo4" property="duo4"/>
    </resultMap>
    <resultMap id="saleNummapgc" type="receipts">
    <id column="recNo" property="recNo"/>
    <result column="recOdd" property="recOdd"/>
    <result column="recDocumentTypes" property="recDocumentTypes"/>
</resultMap>
    <resultMap id="clientListmap" type="client">
        <id column="cliID" property="cliID"/>
        <result column="cliName" property="cliName"/>
        <result column="cliContacts" property="cliContacts"/>
        <result column="cliPhone" property="cliPhone"/>
        <result column="cliPhone" property="cliPhone"/>
        <result column="cliAddress" property="cliAddress"/>
        <result column="cliType" property="cliType"/>
        <result column="cliArea" property="cliArea"/>
        <result column="cliRemarks" property="cliRemarks"/>
        <result column="duo1" property="duo1"/>
        <result column="duo1" property="duo2"/>
        <result column="duo1" property="duo3"/>
    </resultMap>
    <resultMap id="warNamemap" type="warehouse">
        <id column="warID" property="warID"/>
        <result column="warName" property="warName"/>
        <result column="employeesNo" property="employeesNo"/>
        <result column="warPhone" property="warPhone"/>
        <result column="warAddressNo" property="warAddressNo"/>
        <result column="warAddress" property="warAddress"/>
        <result column="warDefault" property="warDefault"/>
        <result column="warForbidNo" property="warForbidNo"/>
        <result column="warComment" property="warComment"/>
        <result column="repNumber" property="repNumber"/>
        <result column="warTotalValue" property="warTotalValue"/>
        <result column="warCurrent" property="warCurrent"/>
        <result column="warLowest" property="warLowest"/>
        <result column="duo1" property="duo1"/>
        <result column="duo2" property="duo2"/>
        <result column="duo3" property="duo3"/>
    </resultMap>
    <resultMap id="employessMap" type="employees">
        <id column="empNo" property="empNo"/>
        <result column="empName" property="empName"/>

    </resultMap>
</mapper>