<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicinepro.uploadFile">
    <!--将从表格获取的数据存入数据库-->
     <insert id="upLoadinsert" parameterType="java.util.ArrayList" >
         INSERT INTO commodity(comId,comName,comSimpleCode,comTypeId,comGenericName,comUnit,
         comEpherine,comElectonic,comProduct,comMedicame,comRegister,comApproval,comState,
         comSpecial,comPurchase,comPrice,comManufact,comRemarks,comMinKuNumber)
         VALUES <foreach collection="list" index="index" separator="," item="item">
             (#{item.comId},#{item.comName},#{item.comSimpleCode},#{item.categoryNo},#{item.comGenericName}
         ,#{item.comUnit},#{item.comEpherine},#{item.comElectonic},#{item.comProduct},#{item.comMedicame},#{item.comRegister}
         ,#{item.comApproval},#{item.comState},#{item.comSpecial},#{item.comPurchase},#{item.comPrice}
         ,#{item.manId},#{item.comRemarks},#{item.comMinKuNumber})
     </foreach>

     </insert>
    <insert id="upLoadinsertMember">
        insert into members(memNo,memName,memGrade,memIntegral,memExpenditure,
        memDeqree,memIntegralBalance,memCardBalance,memStateNo)
        VALUES <foreach collection="list" index="index" separator="," item="item">
        (#{item.memNo},#{item.memName},#{item.memGrade},#{item.memIntegral},#{item.memExpenditure},#{item.memDeqree}
        ,#{item.memIntegralBalance},#{item.memCardBalance},#{item.memStateNo})
    </foreach>

    </insert>
</mapper>